
/* styles.css for freeCodeCamp News "Zipline" exercise */

/* Set the background color */
body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #9B8F89;
}

.title {
	text-align: center;
	color: #4B4440;
}

.main-title {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	margin-bottom: 0;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.47em;
	margin: 0;
	padding: 0;
	position: relative;
	top: -8px;
}

.grid {
	position: relative;
	width: 75%;
	margin: auto;
}

.grid-item {
	float: left;
	width: 200px;
	background-color: white;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 0.8em;
	padding-bottom: 10px;
	background-color: #EDEBE9;
	color: #524B48;
}

img {
	max-width: 100%;
}

.headline {
	padding: 5px 10px 5px 10px;
	text-align: left;
}

.comments {
	padding: 10px 10px 10px 0px;
	display: inline;
	text-align: left;
}

.author {
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}